@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --heading-font: "DM Sans", serif;

  --bs-link-color: #333;
  --bs-link-hover-color:#333;

  --bs-link-color-rgb: 40,40,40;
  --bs-link-hover-color-rgb: 0,0,0;

  --bs-light-rgb: 248, 248, 248;

  --bs-font-serif: "Inter", serif;
  --bs-body-font-family: var(--bs-font-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 2;
  --bs-body-color: #5F5F5F;

  --bs-primary: #fd7f81;
  /* --bs-primary: #828EAB; */
  --bs-primary-rgb: 130, 142, 171;
  
  --bs-secondary: #364127;
  --bs-secondary-rgb: 54, 65, 39;
  
  --bs-danger: #F95F09;
  --bs-danger-rgb: 249, 95, 9;

  --bs-success: #a3be4c;
  --bs-success-rgb: 163, 190, 76;
  
  --bs-primary-bg-subtle: #FFF9EB;
  --bs-success-bg-subtle: #eef5e5;
  
  --bs-border-color: #efefef;

  --swiper-theme-color: var(--bs-primary);
}

/* RESET */
html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
  }
body {
  margin: 0;
  letter-spacing: normal;
}
main {
  display: block;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font);
  color: var(--bs-dark);
  font-weight: 700;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* Add the correct box sizing in Firefox. */
  height: 0; /* Add the correct box sizing in Firefox. */
  overflow: visible; /* Show the overflow in Edge and IE. */
}
pre {
  font-family: monospace, monospace;
  font-size: 1em; 
}
a {
  background-color: transparent;  /* Remove the gray background on active links in IE 10. */
}
abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57- */
  text-decoration: underline; /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
  text-decoration: underline dotted; /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
}
b,
strong {
  font-weight: 900;  /* Add the correct font weight in Chrome, Edge, and Safari. */
}
code,
kbd,
samp {
  font-family: monospace, monospace; 
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; /* Remove the margin in Firefox and Safari. */
}
button,
input {
  overflow: visible;  /* Show the overflow in Edge. */
}
button,
select {
  text-transform: none;  /* Remove the inheritance of text transform in Edge, Firefox, and IE. */
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;  /* Correct the inability to style clickable types in iOS and Safari. */
}
/* Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;  /* Correct the padding in Firefox. */
}
legend {
  box-sizing: border-box; /* Correct the text wrapping in Edge and IE. */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE. */
  display: table; /* Correct the text wrapping in Edge and IE. */
  max-width: 100%; /* Correct the text wrapping in Edge and IE. */
  padding: 0; 
  white-space: normal; /* Correct the text wrapping in Edge and IE. */
}
progress {
  vertical-align: baseline;  /* Add the correct vertical alignment in Chrome, Firefox, and Opera. */
}
textarea {
  overflow: auto;  /* Remove the default vertical scrollbar in IE 10+. */
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* Add the correct box sizing in IE 10. */
  padding: 0; /* Remove the padding in IE 10. */
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;  /* Correct the cursor style of increment and decrement buttons in Chrome. */
}
[type='search'] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari. */
  outline-offset: -2px; /* Correct the outline style in Safari. */
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;  /* Remove the inner padding in Chrome and Safari on macOS. */
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari. */
  font: inherit; /* Change font properties to `inherit` in Safari. */
}
details {
  display: block;  /* Add the correct display in Edge, IE 10+, and Firefox. */
}
summary {
  display: list-item;
}
template {
  display: none;  /* Add the correct display in IE 10+. */
}
[hidden] {
  display: none;  /* Add the correct display in IE 10. */
}

/* BUTTONS */
.btn{
  letter-spacing: 2px;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ff9a9c; 
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d3d7dd;
  --bs-btn-disabled-border-color: transparent;
}
.btn-outline-light {
  --bs-btn-border-color: #EFEFEF;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #EFEFEF;
  --bs-btn-hover-border-color: #EFEFEF;
  --bs-btn-focus-shadow-rgb: 248,249,250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #EFEFEF;
  --bs-btn-active-border-color: #EFEFEF;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #EFEFEF;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #EFEFEF;
  --bs-gradient: none;
}
.btn-warning {
  --bs-btn-color: #747474;
  --bs-btn-bg: #FCF7EB;
  --bs-btn-border-color: #FCF7EB;
  --bs-btn-hover-color: #747474;
  --bs-btn-hover-bg: #FFECBE;
  --bs-btn-hover-border-color: #FFECBE;
  --bs-btn-focus-shadow-rgb: 217,164,6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #FFECBE;
  --bs-btn-active-border-color: #FFECBE;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #FCF7EB;
  --bs-btn-disabled-border-color: #FCF7EB;
}
.btn-success {
  --bs-btn-color: #222;
  --bs-btn-bg: #EEF5E4;
  --bs-btn-border-color: #EEF5E4;
  --bs-btn-hover-color: #222;
  --bs-btn-hover-bg: #9de3c2;
  --bs-btn-hover-border-color: #9de3c2;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #222;
  --bs-btn-active-bg: #9de3c2;
  --bs-btn-active-border-color: #9de3c2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #222;
  --bs-btn-disabled-bg: #EEF5E4;
  --bs-btn-disabled-border-color: #EEF5E4;
}
.btn-danger {
  --bs-btn-color: #222;
  --bs-btn-bg: #FFEADA;
  --bs-btn-border-color: #FFEADA;
  --bs-btn-hover-color: #222;
  --bs-btn-hover-bg: #ecc9af;
  --bs-btn-hover-border-color: #ecc9af;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #222;
  --bs-btn-active-bg: #ecc9af;
  --bs-btn-active-border-color: #ecc9af;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #222;
  --bs-btn-disabled-bg: #FFEADA;
  --bs-btn-disabled-border-color: #FFEADA;
}

/* REUSABLE STYLES */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 3rem;
}
.section-padding{
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--bs-primary);
}

/* BOOTSTRAP EXTENDED */
.ls-1 {
  letter-spacing: -0.04em;
}
.fs-7 {
  font-size: 0.8rem!important;
}
.mb-n1 {
  margin-bottom: -0.75rem !important;
}
.mt-n8 {
  margin-top: -7.5rem !important;
}
.mt-n11 {
  margin-top: -12.5rem !important;
}

/* FLOATING IMAGE */
.image-float {
  margin-top: -140px;
  margin-bottom: -140px;
}

/* SWIPER CAROUSEL */
.swiper-buttons {
  display: flex;
  gap: 0.25rem; 
}
.swiper-prev,
.swiper-next {
  width: 38px;
  height: 38px;
  line-height: 38px;
  background: #F1F1F1;
  color: #222222;
  padding: 0;
  text-align: center;
  border-radius: 10px;
  --bs-btn-border-color: transparent;
  --bs-btn-active-bg: #636c83;
  --bs-btn-active-border-color: transparent;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-disabled-color: #ccc;
  --bs-btn-disabled-bg: #eaeaea;
  --bs-btn-disabled-border-color: #eaeaea
}
.swiper-prev:hover,
.swiper-next:hover {
  background: var(--bs-primary);
}
.swiper-slide-thumb-active{
  transition: 0.2s ease-in-out;
}
.swiper-slide-thumb-active{
  opacity: 0.6;
}

/* PRODUCTS CAROUSEL */
.products-carousel .swiper, 
.products-carousel .swiper-container {
  overflow: visible;
}

.logo-text {
  font-family: var(--heading-font);
  font-size: 1.75rem;
  font-weight: 400;
  color: #333;
  letter-spacing: -0.02em;
}

@media screen and (max-width:991px) {
  /* FLOATING IMAGE */
  .image-float {
    margin: 0;
  }
}

@media screen and (max-width:992px) {
  /* REUSABLE STYLES */
  .section-padding{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 1400px) {
  /* REUSABLE STYLES */
  .container-lg {
      max-width: 1600px;
  }
} 