@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --heading-font: "DM Sans", serif;

  --bs-link-color: #333;
  --bs-link-hover-color:#333;

  --bs-link-color-rgb: 40,40,40;
  --bs-link-hover-color-rgb: 0,0,0;

  --bs-light-rgb: 248, 248, 248;

  --bs-font-serif: "Inter", serif;
  --bs-body-font-family: var(--bs-font-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 2;
  --bs-body-color: #5F5F5F;

  --bs-primary: #828EAB;
  --bs-primary-rgb: 130, 142, 171;
  
  --bs-secondary: #364127;
  --bs-secondary-rgb: 54, 65, 39;
  
  --bs-danger: #F95F09;
  --bs-danger-rgb: 249, 95, 9;

  --bs-success: #a3be4c;
  --bs-success-rgb: 163, 190, 76;
  
  --bs-primary-bg-subtle: #FFF9EB;
  --bs-success-bg-subtle: #eef5e5;
  
  --bs-border-color: #efefef;

  --swiper-theme-color: var(--bs-primary);
}

/* RESET */
html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
  }
body {
  margin: 0;
  letter-spacing: normal;
}
main {
  display: block;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font);
  color: var(--bs-dark);
  font-weight: 700;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* Add the correct box sizing in Firefox. */
  height: 0; /* Add the correct box sizing in Firefox. */
  overflow: visible; /* Show the overflow in Edge and IE. */
}
pre {
  font-family: monospace, monospace;
  font-size: 1em; 
}
a {
  background-color: transparent;  /* Remove the gray background on active links in IE 10. */
}
abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57- */
  text-decoration: underline; /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
  text-decoration: underline dotted; /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
}
b,
strong {
  font-weight: 900;  /* Add the correct font weight in Chrome, Edge, and Safari. */
}
code,
kbd,
samp {
  font-family: monospace, monospace; 
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; /* Remove the margin in Firefox and Safari. */
}
button,
input {
  overflow: visible;  /* Show the overflow in Edge. */
}
button,
select {
  text-transform: none;  /* Remove the inheritance of text transform in Edge, Firefox, and IE. */
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;  /* Correct the inability to style clickable types in iOS and Safari. */
}
/* Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;  /* Correct the padding in Firefox. */
}
legend {
  box-sizing: border-box; /* Correct the text wrapping in Edge and IE. */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE. */
  display: table; /* Correct the text wrapping in Edge and IE. */
  max-width: 100%; /* Correct the text wrapping in Edge and IE. */
  padding: 0; 
  white-space: normal; /* Correct the text wrapping in Edge and IE. */
}
progress {
  vertical-align: baseline;  /* Add the correct vertical alignment in Chrome, Firefox, and Opera. */
}
textarea {
  overflow: auto;  /* Remove the default vertical scrollbar in IE 10+. */
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* Add the correct box sizing in IE 10. */
  padding: 0; /* Remove the padding in IE 10. */
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;  /* Correct the cursor style of increment and decrement buttons in Chrome. */
}
[type='search'] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari. */
  outline-offset: -2px; /* Correct the outline style in Safari. */
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;  /* Remove the inner padding in Chrome and Safari on macOS. */
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari. */
  font: inherit; /* Change font properties to `inherit` in Safari. */
}
details {
  display: block;  /* Add the correct display in Edge, IE 10+, and Firefox. */
}
summary {
  display: list-item;
}
template {
  display: none;  /* Add the correct display in IE 10+. */
}
[hidden] {
  display: none;  /* Add the correct display in IE 10. */
}

/* BUTTONS */
.btn{
  letter-spacing: 2px;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #616c85;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d3d7dd;
  --bs-btn-disabled-border-color: transparent;
}
.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ffc107;
  --bs-btn-hover-border-color: #ffc107;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffc107;
  --bs-btn-active-border-color: #ffc107;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff3cd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fff3cd;
  --bs-gradient: none;
}
.btn-outline-light {
  --bs-btn-border-color: #EFEFEF;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #EFEFEF;
  --bs-btn-hover-border-color: #EFEFEF;
  --bs-btn-focus-shadow-rgb: 248,249,250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #EFEFEF;
  --bs-btn-active-border-color: #EFEFEF;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #EFEFEF;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #EFEFEF;
  --bs-gradient: none;
}
.btn-warning {
  --bs-btn-color: #747474;
  --bs-btn-bg: #FCF7EB;
  --bs-btn-border-color: #FCF7EB;
  --bs-btn-hover-color: #747474;
  --bs-btn-hover-bg: #FFECBE;
  --bs-btn-hover-border-color: #FFECBE;
  --bs-btn-focus-shadow-rgb: 217,164,6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #FFECBE;
  --bs-btn-active-border-color: #FFECBE;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #FCF7EB;
  --bs-btn-disabled-border-color: #FCF7EB;
}
.btn-success {
  --bs-btn-color: #222;
  --bs-btn-bg: #EEF5E4;
  --bs-btn-border-color: #EEF5E4;
  --bs-btn-hover-color: #222;
  --bs-btn-hover-bg: #9de3c2;
  --bs-btn-hover-border-color: #9de3c2;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #222;
  --bs-btn-active-bg: #9de3c2;
  --bs-btn-active-border-color: #9de3c2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #222;
  --bs-btn-disabled-bg: #EEF5E4;
  --bs-btn-disabled-border-color: #EEF5E4;
}
.btn-danger {
  --bs-btn-color: #222;
  --bs-btn-bg: #FFEADA;
  --bs-btn-border-color: #FFEADA;
  --bs-btn-hover-color: #222;
  --bs-btn-hover-bg: #ecc9af;
  --bs-btn-hover-border-color: #ecc9af;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #222;
  --bs-btn-active-bg: #ecc9af;
  --bs-btn-active-border-color: #ecc9af;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #222;
  --bs-btn-disabled-bg: #FFEADA;
  --bs-btn-disabled-border-color: #FFEADA;
}
.btn-link {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: var(--bs-body-font-family);
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
  text-decoration: none;
}
a.btn-link,
a.btn-link:after {
  transition: all .5s;
}
a.btn-link {
  position: relative;
}
a.btn-link:before,
a.btn-link:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: var(--bs-dark);
  height: 2px;
}
[data-bs-theme=dark] a.btn-link:after {
  background-color: var(--bs-light);
}
a.btn-link:before {
  background-color: rgba( var(--bs-light-rgb), 0.2 );
  width: 100%;
}
a.btn-link.is-checked:after,
a.btn-link:hover:after {
  width: 100%;
}
a.btn-link.text-white:after {
  background-color: var(--bs-light);
}
a.btn-link.text-light:after {
  background-color: var(--bs-light);
}

/* REUSABLE STYLES */
.breadcrumb.text-white {
  --bs-breadcrumb-divider-color: #fff;
  --bs-breadcrumb-item-active-color: var(--bs-primary);
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--bs-primary);
}
.nav-pills .nav-link {
  --bs-nav-pills-link-active-color: #111;
  --bs-nav-pills-link-active-bg: #f1f1f1;
}
.pagination {
  --bs-pagination-active-bg: var(--bs-primary);
  --bs-pagination-active-border-color: var(--bs-primary);
  --bs-pagination-bg: #f9f9f9;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 3rem;
}
.section-padding{
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.shadow {
  box-shadow: 0 .5rem 1rem rgb(0 0 0 / 7%) !important;
}
.form-select:focus,
.form-control:focus {
  box-shadow: none;
  border-color: var(--bs-primary);
}
.card {
  --bs-card-inner-border-radius: 0;
}
.banner-blocks {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
}
.block-1 { 
  grid-area: 1 / 1 / 3 / 8; 
}
.block-2 { 
  grid-area: 1 / 8 / 2 / 13; 
}
.block-3 { 
  grid-area: 2 / 8 / 3 / 13; 
}

/* BOOTSTRAP EXTENDED */
.border-dashed {
  border-bottom: 1px dashed #d1d1d1;
}
.ls-1 {
  letter-spacing: -0.04em;
}
.button-area .btn-cart {
  text-wrap: nowrap;
  height: 3.3em;
  line-height: 2em;
  width: 100%;
}
.fs-7 {
  font-size: 0.8rem!important;
}
.mt-n8 {
  margin-top: -7.5rem !important;
}
.mt-n11 {
  margin-top: -12.5rem !important;
}

/* FLOATING IMAGE */
.image-float {
  margin-top: -140px;
  margin-bottom: -140px;
}

/* SWIPER CAROUSEL */
.swiper-buttons {
  display: flex;
  gap: 0.25rem; 
}
.swiper-prev,
.swiper-next {
  width: 38px;
  height: 38px;
  line-height: 38px;
  background: #F1F1F1;
  color: #222222;
  padding: 0;
  text-align: center;
  border-radius: 10px;
  --bs-btn-border-color: transparent;
  --bs-btn-active-bg: #636c83;
  --bs-btn-active-border-color: transparent;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-disabled-color: #ccc;
  --bs-btn-disabled-bg: #eaeaea;
  --bs-btn-disabled-border-color: #eaeaea
}
.swiper-prev:hover,
.swiper-next:hover {
  background: var(--bs-primary);
}
.swiper-slide-thumb-active{
  transition: 0.2s ease-in-out;
}
.swiper-slide-thumb-active{
  opacity: 0.6;
}

/* PRODUCTS CAROUSEL */
.products-carousel .swiper, 
.products-carousel .swiper-container {
  overflow: visible;
}

@media screen and (max-width:991px) {
  /* FLOATING IMAGE */
  .image-float {
    margin: 0;
  }
}

/* *************************************************************************************************** */

/* NAVBAR */
.navbar .megamenu{ 
  padding: 1rem; 
}

/* BRAND CAROUSEL */
.brand-carousel .brand-item {
  background: #FFFFFF;
  border: 1px solid #FBFBFB;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  padding: 16px;
}
.brand-carousel .brand-item img {
  width: 100%;
  border-radius: 12px;
}
.brand-carousel .brand-item .brand-details {
  margin-left: 15px;
}
.brand-carousel .brand-item .brand-title {
  margin: 0;
}

/* PRODUCT TABS */
.product-tabs .nav-tabs {
  justify-content: flex-end;
  border: none;
  --bs-nav-link-hover-color: #111;
  --bs-nav-link-color: #555;
  --bs-nav-tabs-link-border-color: #fff;
  --bs-nav-tabs-link-hover-border-color: transparent;
  --bs-nav-tabs-link-active-border-color: #fff;
}
.product-tabs .nav-tabs .nav-link.active, 
.product-tabs .nav-tabs .nav-item.show .nav-link {
  border-bottom: 3px solid var(--bs-primary);
}

/* POST ITEM */
.post-item .post-meta {
  font-size: 0.8rem;
  line-height: 1;
}
.post-item .post-meta svg {
  margin-right: 5px;
}

/* PRODUCT THUMBNAIL SLIDER */
.product-thumbnail-slider {
  height: 740px;
}

@media (max-width: 991px){
  /* NAVBAR */
	.navbar.fixed-top .navbar-collapse, 
  .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	  max-height: 90vh;
	  margin-top:10px;
	}
}

@media screen and (max-width:992px) {
  /* REUSABLE STYLES */
  .section-padding{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  /* PRODUCT THUMBNAIL SLIDER */
  .product-thumbnail-slider {
    margin-top: 20px;
    height: auto;
  }
}

@media screen and (min-width:992px) {
  /* PRODUCT THUMBNAIL SLIDER */
  .product-thumbnail-slider {
    height: 420px;
  }
}

/* Implicitly targets all media types - screens, print, speech readers, etc. */
@media (min-width: 992px) {
	/* NAVBAR */
	.navbar .has-megamenu{
    position:static !important;
  }
	.navbar .megamenu{
    left:0; 
    right:0; 
    width:100%; 
    margin-top:0;  
  }
	
}	

@media screen and (max-width:1140px) {
  /* REUSABLE STYLES */
  .banner-blocks {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .block-1 { 
    grid-area: 1 / 1 / 3 / 2; 
  }
  .block-2 { 
    grid-area: 3 / 1 / 4 / 2; 
  }
  .block-3 { 
    grid-area: 4 / 1 / 5 / 2; 
  }
}

@media screen and (min-width:1200px) {
  /* PRODUCT THUMBNAIL SLIDER */
  .product-thumbnail-slider {
    height: 540px;
  }
}

@media (min-width: 1400px) {
  /* REUSABLE STYLES */
  .container-lg {
      max-width: 1600px;
  }

  /* PRODUCT THUMBNAIL SLIDER */
  .product-thumbnail-slider {
    height: 740px;
  }
} 