.preloaderWrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111;
  background: #ffffffe6;
}
.preloaderWrapper .preloader {
  margin: 20% auto 0;
  transform: translateZ(0);
}
.preloader:before,
.preloader:after {
  content: '';
  position: absolute;
  top: 0;
}

.preloader:before,
.preloader:after,
.preloader {
  border-radius: 6%;
  width: 2em;
  height: 2em;
  animation: animation 1.2s infinite ease-in-out;
}
@keyframes animation {
  0%,
  80%,
  100% {
    box-shadow: 0 2em 0 -1em var(--bs-primary);
  }
  40% {
    box-shadow: 0 2em 0 0 var(--bs-primary);
  }
}

.preloader {
  animation-delay: -0.16s;
}
.preloader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.preloader:after {
  left: 3.5em;
}